*{
    font-family: Arial;
    font-size: 11pt;
}

.chat{
    top: 100px;
    bottom: 60px;
    width: 400px;
    height: auto;
    position: fixed;
    overflow: scroll;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.actions{
    position: fixed;
    bottom: 0;
    display: block;
    width: 400px;
    border-style: solid;
    border-color: black;
}

.actions input{
    height: 30px;
    display: block;
    width: 100%;
    outline: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.messages div{
    max-width: 60%;
    display: block;
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
}

.messages .bot {
    text-align: left;
    margin-right: auto;
    background: rgb(152, 216, 32);
    color: black
}

.messages .self{
    text-align: right;
    margin-left: auto;
    background: rgb(77, 77, 238);
    color: white;
}